# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Miguel\Desarrollo de aplicaciones Multiplataforma\2ºDAM\Repositorios\ProyectoFinDeGrado\Front\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
